*{
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;

}

.container{
  width: 1024px;
  display: table;
  margin:0 auto;


}

.logo{
  width: 200px;
  float:left;
}

.nav{
  list-style-type: none;
}

.nav li{
  display: inline;
}

