*{
  margin:0;
  padding:0;
}

html, body{
  width:100%;
  height:100%;
  background: -webkit-linear-gradient(-45deg, #b5b9d1 1%,#14050b 100%);
}
table {
  border-collapse:collapse;
  margin:0 auto;
}

th,td{
  text-align:center;
  font-family:Helvetica;
}

th{
  color:white;
  padding:20px;
}

td{
  background-color:white;
  border:1px solid gray;
  padding:10px;
}

table tr:nth-of-type(odd) td{
  background-color:lightgray;
}

table tr:first-child th:nth-child(2){
 background-color: #FE756F;
}

table tr:first-child th:nth-child(3){
  background-color: #B7E331;
}

table tr:first-child th:nth-child(4){
  background-color: #73B2C3;
}

table tr td:nth-child(2), table tr td:first-child{
  border-right:2px solid #FE756F;
}

table tr:nth-child(8) td:nth-child(2){
  border-bottom:2px solid #FE756F;
}

table tr:last-child td{
   background-color:transparent;
   border:0 none;
}

td div{
  background-color:#FE756F;
  display:table;
  margin:0 auto;
  border-radius:50%;
  width:40px;
  height:40px;
}

p{
  position:relative;
  top:10px;
  color:white;
}

a {
  text-decoration:none;
  color:white;
  display:inline-block;
  padding:10px 20px;
  background-color:#FE756F;
  border-bottom:4px solid rgb(85, 38, 35);
}

td span{
  font-weight:bold;
  display:block;
  font-size:18px;
}
